header
    a.header__logo(href="#")
        img(src=img+"Logo Transperent 2.png", alt="")
    .header__menu
        nav(class="main-nav main-nav-dop" role="navigation")
            input(id="main-menu-state" type="checkbox")
            label.main-menu-btn(for="main-menu-state")
                span.main-menu-btn-icon Toggle main menu visibility
            ul(id="main-menu" class="sm sm-clean")
                li
                    a(href="#") our story
                li
                    a(href="#") our cheese
                li
                    a(href="#") blog
                li
                    a(href="#") contacts
    