- var img = 'img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container
			section.block-10
				.container
					h1 contacts
					.flex 
						form(action="")
							input(type="text" placeholder="Name")
							input(type="text" placeholder="Surname")
							input(type="text" placeholder="Subject")
							p Message
							textarea(name="", cols="30", rows="10") 
						img(src=img+"map.png", alt="" class="bg-2")
		include blocks/footer.pug
		include blocks/scripts.pug